<h1>Invierno</h1>
<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
      Conjunto Elegante de Invierno</mat-card-title>
      <mat-card-subtitle> Pullover de Lana, Lencería y Botas de Cuero</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./../../../../../../assets/imagenes/invierno/3.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Este conjunto combina comodidad y estilo. El pullover de lana blanca te ofrece calidez y suavidad,
         mientras que el toque de shin negro aporta elegancia y modernidad. 
        El top de lencería negro agrega un toque sensual,
        y las botas de cuero negro completan el look con un diseño clásico y atemporal.
        El accesorio finaliza el conjunto con un detalle único, perfecto para cualquier ocasión.
      ¡Destaca con estilo y sofisticación!


      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="mensajeReparacion()">Agregar Producto</button>
      <button mat-button (click)="mensajeReparacion()">Eliminar Producto</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
      Conjunto Elegante de Invierno</mat-card-title>
      <mat-card-subtitle> Pullover de Lana, Lencería y Botas de Cuero</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./../../../../../../assets/imagenes/invierno/2.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Este conjunto combina comodidad y estilo. El pullover de lana blanca te ofrece calidez y suavidad,
         mientras que el toque de shin negro aporta elegancia y modernidad. 
        El top de lencería negro agrega un toque sensual,
        y las botas de cuero negro completan el look con un diseño clásico y atemporal.
        El accesorio finaliza el conjunto con un detalle único, perfecto para cualquier ocasión.
      ¡Destaca con estilo y sofisticación!


      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="mensajeReparacion()">Agregar Producto</button>
      <button mat-button (click)="mensajeReparacion()">Eliminar Producto</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
      Conjunto Elegante de Invierno</mat-card-title>
      <mat-card-subtitle> Pullover de Lana, Lencería y Botas de Cuero</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./../../../../../../assets/imagenes/invierno/1.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Este conjunto combina comodidad y estilo. El pullover de lana blanca te ofrece calidez y suavidad,
         mientras que el toque de shin negro aporta elegancia y modernidad. 
        El top de lencería negro agrega un toque sensual,
        y las botas de cuero negro completan el look con un diseño clásico y atemporal.
        El accesorio finaliza el conjunto con un detalle único, perfecto para cualquier ocasión.
      ¡Destaca con estilo y sofisticación!


      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="mensajeReparacion()">Agregar Producto</button>
      <button mat-button (click)="mensajeReparacion()">Eliminar Producto</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
      Conjunto Elegante de Invierno</mat-card-title>
      <mat-card-subtitle> Pullover de Lana, Lencería y Botas de Cuero</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./../../../../../../assets/imagenes/invierno/7.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Este conjunto combina comodidad y estilo. El pullover de lana blanca te ofrece calidez y suavidad,
         mientras que el toque de shin negro aporta elegancia y modernidad. 
        El top de lencería negro agrega un toque sensual,
        y las botas de cuero negro completan el look con un diseño clásico y atemporal.
        El accesorio finaliza el conjunto con un detalle único, perfecto para cualquier ocasión.
      ¡Destaca con estilo y sofisticación!


      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="mensajeReparacion()">Agregar Producto</button>
      <button mat-button (click)="mensajeReparacion()">Eliminar Producto</button>
    </mat-card-actions>
 