.example-card {
    display: flex;
    justify-content: center;
    max-width: 300px;
  }
  
  .example-header-image {
    background-image:'../../../../../assets/imagenes/Logo.png';
    background-size: cover;
  }
  