
    <div class="row">
        <div class="card mb-3">
            <img src="../../../../../assets/imagenes/card.png" class="card-img-top" alt="...">
        </div>
    </div>
    
        <div class="col" id="cont-prinipal">
            <div class="contenido">
                <app-card></app-card>
            </div>
        </div>
       

        <span class="example-spacer"></span>
    <div class="row">
        <div class="col" id="cont-card">
            <app-carrusel></app-carrusel>
        </div>
    
    </div>
   
   
   

