<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>En Reparación</title>

</head>
<body>
    <h1>​​💻​​En reparación​​💻​​</h1>
</body>
</html>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <ul class="list-group">
                <li class="li-list-group-item" *ngFor="let pedido of coleccionPedidos">
                    {{pedido.cantidad}} {{pedido.producto.nombre}} - ${{pedido.total}}

                    <button class="btn btn-danger" (click)="quitarPedido(pedido)"><mat-icon>delete</mat-icon></button>
                </li>
            </ul>
        </div>
    </div>
</div>