<div class="card text-center" id="footer">
    <div class="card-header">
      Mar@oficial
    </div>
    <div class="card-body">
      <h5 class="card-title">Tienda Online Mar@oficial</h5>
      <p class="card-text"> ¿Quienes Somos? <br>
        En Mar.oficial , somos apasionados por la moda y la individualidad. Desde nuestros inicios en 2020,
        <br> nuestra misión ha sido ofrecer ropa que no solo siga las tendencias, sino que también inspire confianza y autenticidad en quienes la usan. 
      </p>
      
    </div>
    <div class="card-footer text-body-secondary">
      Mar@oficial
    </div>
  </div>