<div class="container-fluid">
    <div class="row">
       <div class="form">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg>

        <mat-form-field appearance="fill">
          <mat-label>Ingrese su Nombre:</mat-label>
          <input [(ngModel)]="usuarios.nombre" matInput placeholder="Eje:Mateo" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Ingrese su Apellido:</mat-label>
          <input [(ngModel)]="usuarios.apellido"matInput placeholder="Eje:Fernandez" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Ingrese su Gmail:</mat-label>
          <input [(ngModel)]="usuarios.email" matInput placeholder="Eje:MatFer@Gmail.com" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ingrese su Contraseña:</mat-label>
          <input [(ngModel)]="usuarios.password" matInput [type]="hide ? 'password' : 'text'" required>
          <button
            mat-icon-button
            matSuffix
            (click)="hide=!hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
       </div>
          <button type="button" class="btn btn-outline-dark" (click)="registrar()">Registrarse</button>
    </div>
</div>

   
  