.container-fluid{
    display: flex;
    margin: 0;
    justify-content: center;
    padding: 1rem;
}

.form{
    justify-content: center;
    text-align: center;
    
}
.row{
    display: flex;
    justify-content: center;
}
mat-form-field{
    display: block;
}
.btn{
    text-align: center;
    width: 10rem;
}

.bi{
    width: 6rem;
    padding: 1.5rem;
}