<div class="container">
  <div class="row">
    <div class="form">
      <mat-form-field id="contenedor" appearance="fill">
        <mat-label id="mail">Ingrese su Gmail:</mat-label>
        <input [(ngModel)]="usuarios.email"  matInput placeholder="Eje:MatFer@Gmail.com">
      </mat-form-field>
      <mat-form-field>
        <mat-label id="contraseña">Ingrese su Contraseña:</mat-label>
        <input [(ngModel)]="usuarios.password" matInput [type]="hide ? 'password' : 'text'" />
        <button mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button type="button" id="guardar" class="btn btn-outline-dark" (click)="iniciarSesion()">Iniciar Sesión</button>
  </div>
</div>