  <!--Metrial Angular -->
  <mat-toolbar>
    <!--menu despegable con Boostrapt -->
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
      aria-controls="offcanvasWithBothOptions">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
      aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menu</h5>
      </div>
      <div class="offcanvas-body">
        <button mat-raised-button routerLink="/invierno">Invierno</button>

        <button mat-raised-button routerLink="/otono">Otono</button>

        <button mat-raised-button routerLink="/primavera">Primavera</button>

        <button mat-raised-button routerLink="/verano">Verano</button>

        <button mat-raised-button routerLink="/elegante">Elegante</button>

        <button mat-raised-button routerLink="/urbano">Urbano</button>
      </div>
    </div>

    <button mat-icon-button class="botoni" routerLink="/Inicio">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </button>
    <span class="example-spacer"></span>
    <img id="ima" routerLink="/Inicio" routerLinkActive="router-link-active"
      src="../../../../../assets/imagenes/Logo.png">

    <!--Inicio Sesio para el usuario-->



    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="botoni">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/Registro">Registro</button>
      <button mat-menu-item routerLink="/InicioSessión">InicioSessión</button>
    </mat-menu>


    <button mat-icon-button class="botoni" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="botoni" aria-label="Example icon-button with heart icon" routerLink="carrito">
      <mat-icon>shopping_cart_checkout</mat-icon>
    </button>
    <button mat-icon-button class="botoni" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
 
